services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_DB: ControleFrotas
      POSTGRES_USER: postgres # default
      POSTGRES_PASSWORD: postgres
